<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">
        <form method="post" action="/updateBook" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Book Name</label>
            <input type="name" placeholder="book name" value="<%= book.name%>" name="name" class="form-control">
            <input type="hidden" placeholder="book name" value="<%= book.id%>" name="id" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Book Author</label>
            <input type="name" placeholder="book name" value="<%= book.author%>" name="author" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Book Price</label>
            <input type="number" placeholder="book name" value="<%= book.price%>" name="price" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Language</label>
            <input type="name" placeholder="book name" value="<%= book.language%>" name="language" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Image</label>
            <img src="/<%= book.img%>" height="100" alt="">
            <input type="file" name="img" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Authore Image</label>
            <img src="/<%= book.authore_img%>" height="100" alt="">
            <input type="file" name="authore_img" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</html>