<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>

    <table class="table table-success table-striped">
        <tr>
            <th>No.</th>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Book Price</th>
            <th>Languages</th>
            <th>Image</th>
            <th>Author Image</th>
            <th>Actions</th>
        </tr>
        <% allBooks.map((book,index) => { %>
            <tr>
                <td><%= index+1%></td>
                <td><%= book.name%></td>
                <td><%= book.author%></td>
                <td><%= book.price%></td>
                <td><%= book.language%></td>
                <td><img src="<%= book.img%>"  width="100" height="100" alt=""></td>
                <td><img src="<%= book.authore_img%>"  width="100" height="100" alt=""></td>
                <td>
                    <a href="/deleteBook?id=<%= book.id%>">Delete</a>
                    <a href="/editBook/<%= book.id%>">Edit</a>
                </td>
                <td></td>
            </tr>
        <%    }) %>
        

        <button><a href="/formPage">Add Book</a></button>
    </table>





        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>

</body>
</html>